**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/.idea
**/logs
**/*.user
**/*.suo
**/docker-compose*.yml
**/Dockerfile*
**/README.md
**/Antigravity.md
**/Processos.md
